@model EWareShop.Models.PhiGiaoHang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>PhiGiaoHang</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PhiGiaoHangID" />
        <div class="form-group">
            <label asp-for="DiaDiem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiaDiem" class="form-control" />
                <span asp-validation-for="DiaDiem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TienPhi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TienPhi" class="form-control" />
                <span asp-validation-for="TienPhi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
