@model EWareShop.Models.TaiKhoan
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_ClientLayout1.cshtml";
}
<div class="row margin-bottom-40 ">
    <div class="sidebar col-md-3 col-sm-4">
        @await Component.InvokeAsync("TaiKhoanSideBarComponent")
    </div>
    <div class="col-md-9 col-sm-8">

    </div>
</div>