<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
        @RenderBody()
    <script src="/frontend_admin/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/frontend_admin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/frontend_admin/build/js/custom.min.js"></script>
</body>
</html>
