@model EWareShop.Models.TaiKhoan
<!--Loại sản phẩm-->
<div>
    <h4>Quản lý tài khoản</h4>
    <ul class="list-group margin-bottom-25 sidebar-menu">
        <li class="list-group-item clearfix"><a asp-controller="TaiKhoan" asp-action="ThongTinTaiKhoan"><i class="fa fa-angle-right"></i>Thông tin tài khoản</a></li>
        <li class="list-group-item clearfix"><a><i class="fa fa-angle-right"></i>Danh sách sản phẩm đã mua</a></li>
        @if (Model.Quyen != 3)
        {
            <li class="list-group-item clearfix"><a><i class="fa fa-angle-right"></i>Quản trị</a></li>
        }
        <li class="list-group-item clearfix"><a a asp-controller="TaiKhoan" asp-action="DangXuat"><i class="fa fa-angle-right"></i>Đăng xuất</a></li>
    </ul>
</div>
<!--end loại sản phẩm-->